@font-face {
    font-family: "Yellow Banana";
    src: url("assets/Yellow Banana.otf") format("opentype");
}


body {
    display: grid;
    place-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    user-select: none;
    background: url("assets/background.png") center / cover no-repeat fixed;
}

html, body {
    margin: 0;
    width: 100%;
    min-height: 100%;
}

.main {
    display: flex;
    gap: 200px;
    
}

.left h3 {
    text-align: center;
    font-size: 50px;
    margin-bottom: 30px;
    font-family: "Yellow Banana", sans-serif;
    filter: drop-shadow(-1px 3px 0px rgb(255, 254, 254));
}





/* goose animation and image stuff */


.gooseimg {
    width: 800px;
    transition: transform 0.15s ease;
    filter: drop-shadow(20px 50px 10px rgba(0, 0, 0, 0.35));
}

.gooseimg:hover {
    transform:
        perspective(500px)
        rotateX(var(--rotate-x, 0deg))
        rotateY(var(--rotate-y, 0deg))
        scale(1.08);
}

.gooseimg:active {
    transform:
        perspective(500px)
        rotateX(var(--rotate-x, 0deg))
        rotateY(var(--rotate-y, 0deg))
        scale(0.95);
}


/* upgrade animation stuff */
.upgrade {
    width: 800px;
    transition: transform 0.15s ease;
    filter: drop-shadow(20px 50px 10px rgba(0, 0, 0, 0.35));
}

.upgrade:hover {
    transform:
        perspective(500px)
        rotateX(var(--rotate-x, 0deg))
        rotateY(var(--rotate-y, 0deg))
        scale(1.08);
}

.upgrade:active {
    transform:
        perspective(500px)
        rotateX(var(--rotate-x, 0deg))
        rotateY(var(--rotate-y, 0deg))
        scale(0.95);
}


/* cheese icon stuff (i honestly dunno if im gonna do literally anything except for changing the scale but we'll see i guess */

.cheeseimg {
    width: 30px;
}





/*particles (what kinda clicker doesnt have particles?)*/

.particle {
    position: fixed;
    width: 80px;
    height: 80px;
    pointer-events: none;
    animation: particle-fly 0.6s ease-out forwards;
}

@keyframes particle-fly {
    0% {
        transform: translate(0, 0) rotate(0deg) scale(1);
        opacity: 1;
    }

    100% {
        transform:
            translate(var(--x), var(--y))
            rotate(180deg)
            scale(0);
        opacity: 0;
    }
}



/* upgrades */

.upgrade-img {
    width: 100px;
    height: 100px;
}

.upgrade {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 330px;
    height: 60px;
    border: 8px solid rgb(0, 0, 0);
    padding: 10px 20px;
    border-radius: 10px;
    background-color: white;
}

.mid-section h4 {
    margin: 0;
    margin-bottom: 20px;
    font-size: 20px;
}

.mid-section p {
    margin: 0;
}

.upgrade-icon {
    width: 35px;
    height: 35px;
}

.cost-info {
    display: flex;
    align-items: center;
    gap: 5px;
    height: 20px;
}